.calc-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 400px;
    height: 800px;
    /* gap: 10px; */
    background-color: gray;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5,100px);
    height: 650px;
    align-items: center;

}

#equals, #zero{
      grid-column: span 2;
  }

.digit, .operator, .clearOperator, .delOperator, .equalsOperator{
    height: 100px;
}

